/*---------------------------------------- Intialize ---------------------------------------- */
* {
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
@font-face {
    font-family: 'corporate';
    src: url('../assets/Corporate-Logo-Rounded-Bold-ver3.woff');
}
@font-face {
    font-family: 'pixel';
    src: url('../assets/Nosutaru-dotMPlusH-10-Regular.ttf');
}
@font-face {
    font-family: 'maromin';
    src: url('../assets/Maromin_Mincho.otf');
}
::-webkit-scrollbar{
    width:0px;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2b2b2b;
    font-family: 'corporate';
}

/*---------------------------------------- Generic ---------------------------------------- */
h1 {
    color:white;
    font-size:200%;
    margin:5px;
}
.h1-top {
    margin-top:30px;
}

h3{
    color:grey;
    margin:0 
}

span {
    color:white;
    display:block;
    text-align: left;
    font-size:175%;
    margin:5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

p {
    color:white;
    display:block;
    text-align: left;
    font-size:100%;
    margin:5px;
    white-space: pre-wrap;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    font-size: 100%;
    color:white;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

:focus {
    outline: none;
    background: none;
    background-color: transparent;
}

.center {
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
}


.list {
    display: flex;
    flex-direction: column;

    margin-bottom: 10%;
    padding: 0;

    width: 50%;
    height: auto;
    
    list-style-type: none;
    color:white;
    font-size: 200%;
}

ul li {
    position: relative;
    font-size:100%;
}
/*---------------------------------------- Custom ---------------------------------------- */
.gif{
    background-image: url("../assets/green.gif");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}
.container {
    display: flex;
    position:absolute;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:rgb(0, 0, 0);
    overflow: hidden;
}

.scroll {
    position:relative;
    justify-content:flex-start;
    align-items:center;
    box-sizing: border-box;
    overflow-y:auto;
    overflow-x: hidden;
}

.scroll-mini {
    position:relative;
    display: flex;
    justify-content:center;
    
    box-sizing: border-box;
    overflow:auto;
    height: 40%;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.design-divider{
    position: absolute;
    top:0px;
    height: 100%;
    width: 100%;
    z-index:0;
}
.design-divider-mid{
    position: inherit;
    top:-50%;
    left: 50px;
    transform: translate-(50%);
    height:100%;
    width:calc(100% - 100px);
}
.design-divider-left{
    position: inherit;
    top:-50%;
    left: 0px;
    height:calc(100% + 75px);
    width: 51px;
    border-bottom-right-radius: 50px;
    z-index: 1;
}
.design-divider-right{
    position: inherit;
    top:-50%;
    right: 0px;
    height:100%;
    width: 51px;
    border-bottom-right-radius: 50px;
    z-index: 1;
}
.design-divider-cover{
    position: inherit;
    top:50%;
    height:75px;
    width: 100%;
    background-color: black;
    border-top-left-radius: 50px;
    z-index: 1;
}

.accent{
    background-color:#53a586;
}
.accent-text{
    color: #53a586;
}


/*---------------------------------------- Home ---------------------------------------- */
#home {
    position:absolute;
}
.home-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 25px;
    color:white;
    cursor: pointer;
    transition: all 0.3s ease;
}
#home-continue {
    display:none;
}
#dictionary {
    display:none;
}

#settings {
    display:none;
}

/*---------------------------------------- Question ---------------------------------------- */
#question {
    display:none;
}

#question-body {
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
    width: 100%;
    height: 50%;
}

.kanji-character {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    font-size: 400%;
    color: white;
}

#question-selection {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    align-content:space-around;
    width: 50%;
    height: 100%;
}

.choice {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 23%;
    font-size: 20px;
    border-radius: 6px;
    color:white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.choice:hover {
    background-color: #d1d1d1;
}

.question-sidebar {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 20%;
    height: 100%;
    border-radius: 5px;
    
}

.question-sidebar div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    width: 100%;
}

.context {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}
.context-button {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:42.5px;
    height: 42.5px;
    margin-left: 2px;
    margin-right: 2px;
    color:white;
    border-radius: 25%;
    cursor: pointer;
}
.icon {
    height:50%;
    display:block;
    margin:auto;
    filter: brightness(0) invert(1);
}

/*---------------------------------------- Definition ---------------------------------------- */
#definition {
    display: none;
}

#def-divider {
    height:720px;
}

#def-index {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    color: white;
    z-index: 3;
}

#def-kanji {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-top: 45px;
    margin-bottom: 40%;
    font-size: 60px;
    color: white;
    background-color: transparent;
    font-size: 1000%;
    z-index: 3;
}

#def-keyword-container {
    width: 100%;
    background-color: red;
    overflow: hidden;
    z-index: 3;
}
#def-keyword {
    position: absolute;
    top: 60px;
    color:black;
    opacity: 0.50;
    font-size: 150px;
    white-space: nowrap;
    overflow: hidden;
    animation: text-overflow-anim 7s linear infinite;
    animation-fill-mode: forwards;
    z-index: 2;
    }

@keyframes text-overflow-anim {
    0% {
    transform: translateX(130%);
    }
    100% {
    transform: translateX(-150%);
    }
}

#def-arrow-container {
    position: relative;
    width: 20px;
    height: 20px;
    z-index: 3;
}
  
#def-arrow {
    position: absolute;
    top: -50px;
    left: 50%;
    width: 0;
    height: 0;
    transform: rotate(180deg);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid white;
    margin-left: -5px;
    animation: blink 1s infinite;
    z-index: 3;
    }

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#def-body{
    border-top:1px solid rgb(177, 177, 177);
    width: 70%;
    height: auto;
    margin-bottom: 30%;
    z-index: 3;
}

.def-mnemonic {
    font-style: italic;
}

/*---------------------------------------- Result ---------------------------------------- */
#result {
    display:none;
}
#result-divider{
    height: 100%;
    z-index: 0;
}
#result-title{
    position: inherit;
    top:30px;
    z-index: 1;   
}
#result-kanji-container{
    position: inherit;
    top:35%;
}
#result-kanji{
    position: inherit;
    z-index: 1; 
    background-color: red;
}
#result-desc-container{
    position: inherit;
    width:70%;
    top:50%;
}



#result-btn {
    position: absolute;
    bottom: 30px;
}


/*---------------------------------------- Settings ---------------------------------------- */
#sett-list {
    width: 90%;
    margin-bottom: 100%;
}
.sett-choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 90%;
    margin:5px;
    font-size: 50%;
    padding: 5px; 
}
.sett-title {
    flex: 1;
    word-wrap: break-word;
    text-align: left;

}
.sett-title-large {
    flex: 1;
    font-size: 150%;
    word-wrap: break-word;
    text-align: center;
}
.sett-value {
    flex: 1;
    word-wrap: break-word;
    text-align: right;
    font-family: 'corporate';
    font-size: 100%;
    width: 50%;
    height: 100%;
    border: none; 

    background-color: transparent; 
}

select {
    font-family: 'corporate';
    font-size: 100%;
    width: 50%;
    height: 100%;
    border: none; 

    background-color: transparent; 
}



.sett-subject {
    position: relative;
    display: inline-block;
  }
  
.sett-subject-btn {
    font-family: 'corporate';
    display: inline-block;
    word-wrap: break-word;
    text-align: right;
    font-size: 100%;

    border: none;
    background-color: transparent;
    }

.sett-subject-content {
    display: none;
    position: absolute;
    text-align: left;
    left:-300%;
    width: 500%;
    border-radius: 10px;
    z-index: 1;
    background-color: white;
}

.sett-subject-content label {
    display: block;
    margin: 8px 0;
}

.sett-subject-content input[type="checkbox"] {
    margin-right: 8px;
    margin-left: 8px;
}

.sett-subject.show .sett-subject-content {
    display: block;
}





#final {
    display:none;
}

/*---------------------------------------- Final ---------------------------------------- */
.final-tab {
    display: inline-block;
    border: none;
    padding: 10px;
    outline: none;
    margin:-2px;
    font-size: 100%;
    width: 40%;
    font-family: "corporate";
    background-color: black;
    color:white;
}

#final-tab-summary{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

#final-tab-questions{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

#final-questions{
    display:none;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

#final-results {
    display:block;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    list-style-type: none;
    width: 100%;
    height: 100%;
    padding: 0;
}

#final-results li{
    display:flex;
    justify-content: left;
    align-items: center;
    font-size: 120%;
    height: 50%;
    width: 85%;
    margin:5px;
    margin-left:20px;
    margin-right: 20px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color:rgb(59, 59, 59);
}

#final-results li div{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    width:20%;
    max-width: 20%;
    min-width:20%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(32, 32, 32);
    overflow: hidden;
}

#final-results li div span{
    position: relative;
    justify-content: center;
    align-items: center;
    left:5px;
    font-size: 125%;
    color:white;
}

#final-results li div div{
    position:relative;
    height: 50%;
    width: 5%;
    border-radius: 5px;
    left:15%;
}

#final-results li span{
    color:white;
    font-size: 225%;
    margin:10px;
}

#final-results li p{
    display: flex;
    height: 100%;
    color:white;
    margin-top:20px;
}

#final-summary{
    justify-items: center;
    align-items: center;
    border-radius: 20px;
}

.final-filter {
    display: inline;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}


  